name: Publish

on:
  push:
    branches:
      - main
      - 'release-*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: 'package.json'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build --if-present
      - name: Package artifacts
        run: npm run package
      - name: Publish artifacts
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          commit: --signoff
          default_author: user_info
          fetch: false
          message: 'dist: build new artifacts'
          push: true
      - name: Create and move next-preview tag
        run: |
          git tag v3.next-preview --force
          git push origin v3.next-preview --force
