name: Publish

on:
  push:
    branches:
      - main
      - 'release-*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: 'package.json'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build --if-present
      - name: Package artifacts
        run: npm run package
      - name: Publish artifacts
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          commit: --signoff
          default_author: user_info
          fetch: false
          message: 'dist: build new artifacts'
          push: true
      - name: Create and move next-preview tag
        run: |
          git tag v3.next-preview --force
          git push origin v3.next-preview --force
